body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8f5e9;
  color: #1a1a1a;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.nav h1 {
  font-size: 20px;
}

.links a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.links a.active {
  color: #2d6a4f;
  font-weight: bold;
}

/* HERO */
.hero-green {
  text-align: center;
  padding: 70px 20px;
  background: #b7e4c7;
  border-radius: 0 0 20px 20px;
}

.hero-green h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #1b4332;
}

.hero-green p {
  font-size: 16px;
  color: #1b4332;
  max-width: 600px;
  margin: auto;
}

/* SOLAR BANNER */
.solar-banner {
  width: 100%;
  max-height: 320px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 0 0 20px 20px;
}

.solar-banner img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.solar-banner img:hover {
  transform: scale(1.03);
}

/* GRID */
.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 25px;
  max-width: 1000px;
  margin: auto;
}

/* CARDS */
.block {
  background: white;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  border-left: 3px solid #2d6a4f;
  transition: 0.2s;
  text-align: center;
}

.block:hover {
  transform: translateY(-4px);
}

/* IMAGES (CUTE STYLE) */
.block img {
  width: 100%;
  max-width: 280px;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  margin: 0 auto 10px auto;
  display: block;
  transition: transform 0.3s ease;
}

.block img:hover {
  transform: scale(1.05);
}

/* SEARCH BAR */
.search-section {
  text-align: center;
  padding: 15px;
}

#searchInput {
  width: 80%;
  max-width: 300px;
  padding: 8px;
  border: 2px solid #2d6a4f;
  border-radius: 10px;
  font-size: 13px;
}


footer {
  text-align: center;
  padding: 15px;
  font-size: 12px;
  color: #666;
}
